{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ]
    },
    "development": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ],
      "plugins": ["transform-es3-member-expression-literals", "transform-es3-property-literals", "react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ]
    }
  }

}
