{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "development": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  }

}
